header {
    display: block;
    width: 100%;
    height: 80px;

    position: fixed;

    background-color:white;

}
.wrapper-header {
    display: flex;
    width: 90%;

    margin-left: auto;
    margin-right: auto;


}


.fff {
    display: block;
    width: 100%;
    height: 80px;
}
header .logo {
    margin-top: 17px;
    margin-left: 20px;
    display: block;
    width: 350px;
    height: 50px;
    
    float: left;
}

header .logo > img {
    display: block;
    width: 10%;
    height: auto;
    float: left;
}

header .logo > h2 {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

header nav {
    margin-top: 25px;
    margin-left: 15%;
    display: block;
    width: 30%;
    height: auto;

}


header nav > ul {
    display: block;
    width: 100%;
    height: 50px;
}

header nav > ul > li {

    display: block;
    width: 20%;
    height: 50px;
    margin-left: 4%;
    
    text-align: center;

    float: left;
}

header nav > ul > li > a {
    display: block;

    width: 100%;
    height: 20px;

    color: #000;
    text-decoration: none;

}

header nav > ul > li > a:visited{
    color: #000;
    text-decoration: none;
}

header .but {
    margin-top: 15px;
    display: block;
    width: 40%;
    height: auto;



}

header .but > a  {

    display: block;
    margin-left: 10px;
    width: 20%;
    height: 40px;

    border-radius: 10px;
    
    text-decoration: none;
    text-align: center;

    float: right;
}

.white-b {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.blue {
    background-color: rgb(0, 0, 0);
    color: white;
}

.but > a > p {
    margin-top: 8px;
}



