main {
    display: block;

    width: 100%;
    height: auto;

}

.launch {
    display: block;
    width: 100%;
    height: auto;

    background-color: blue;
    color: white;
}

.launch h1 {
    

}
