main {
    display: block;

    width: 100%;
    height: auto;

}

.launch {
    display: block;
    width: 100%;
    height: auto;

    background-color: blue;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.launch img {
    display: block;
    width: 600px;
    height: auto;
    margin-left: 25px;
    border-radius: 10px;
}

.launch-text {
    display: flex;
    width: 70%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    
    font-size: 1.5em;

}
.launch-text h1 {
    margin-bottom: 30px;
}
.launch-text p {
    margin-bottom: 30px;
}
.launch-text > .butti{
    display: block;
    width: 100%;
    height: auto;

    margin-bottom: 25px;

}
.launch-text > .numbers {
    display: block;
    margin-top: 35px;
}

.numbers > div {
    display: block;
    margin-top: 50px;
    width: 30%;

    float: left;
    
}